h3 {
  color: #fff;
}
a.btn-primary {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
}
a.btn-primary:hover {
    color: #fff;
    background-color: #085aa0;
    border-color: #085aa0;
}
